<div class="container">
	<video id="video" autoplay loop poster="/assets/video_poster.jpg" muted="muted">
	 <source src="/assets/shutterstock_v4636526.mov" type='video/mp4'>
	 <p>Your user agent does not support the HTML5 Video element.</p>
	</video>
    <div class="overlay">
        <h1>Welcome to Food Pixels</h1>
    </div>
</div>