<h2>Thank you for adding a new dish!</h2>

<br>

To see the new dish you just added, please visit the corresponding restaurant page by selecting it through the above Restaurants link in the navigation bar.