<h1>Welcome to Restaurants Index.</h1>

<div>
There are currently <%= @restaurants.length %> restaurants in total.
</div>


<div>
These are the restaurants: <ul> <% @restaurants.each do |restaurant|  %>
<li> <%= link_to restaurant.restaurant_name, restaurant_path(restaurant)  %> </li>
<%end%>
</ul>
</div>