/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * line below refers to Bootstrap NavBar
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
 */

body {
	background-color: #ffffcc;
}

.container {
	position:relative;
	/*background:red;*/
	border-width: 5px;
	border-style: solid;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
 }
.container video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	border-width: 5px;
	border-style: solid;
    position:relative;
    z-index:0;
}
.overlay {
	color: white;
	text-align: center;
    position: absolute;
    top: -20px;
    left: 100px;
    z-index:1;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
    border-radius: 8px;
}

.button:hover {
    background-color: #008CBA;
    color: black;
}
